/*
 * Copyright 2018 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 body {
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: "source-sans-pro", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

#stage {
    overflow: hidden;
    background-color: #888;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    transition: background-image 0.5s ease-in-out;
}

#stage h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 6px #000000;
    margin-bottom: 0.1em;
}

p {
    margin-top: 0.1em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.1em;
}

#stage #content {
    position: absolute;
    height: 100vh;
    width: 90vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    color: white;

}

#stage img {
    object-fit: cover;
}

main {
    display: none;
}

h1, h2, h3, h4, h5 {
    font-family: "museo-slab",serif;
}

h3, h4 {
    font-weight: 400;
    line-height: 1.25;
}

h1, h2 {
    font-weight: 700;
    line-height: 1.15;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.0rem;
}


h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

blockquote {
    font-family: museo-slab,serif;
    font-weight: 700;
    font-size: 2.0rem;
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
    padding-top: 20px;
    text-align: left;
    border-left: 2px solid white;
    background-color: #00000080;
}

pre {
    background-color: lightgrey;
    padding: 1em;
    border-radius: 1em;
    overflow: hidden;
}

code {
    font-size: 1.1em;
}

h3 code {
    font-size: 1em;
    font-family: inherit;
    background-color: lightgrey;
}

p code,li code {
    background-color: lightgrey;
    padding: 0 2px;
}

table th, table td {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

table th {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border-spacing: 0;    
}

.scaleup {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
              transform: scale(0.9);
              opacity: 0;
    }
    100% {
              transform: scale(1);
              opacity: 1;
    }
  }



@media (min-width:600px) {

    h1 {
        font-size: 4.5rem;
    }
    
    .title h1+p {
        font-size: 2rem;
        font-weight: 300;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.75rem;
    }
    
    h4 {
        font-size: 1.75rem;
    }

    body {
        font-size: 1.25rem;
    }

    blockquote {
        font-size: 1.2rem;
        line-height: 1.7;    
    }

}


@media (min-width:900px) {
    .default, footer div {
        width: 800px;
        margin: auto;
    }
}
